<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanjithagowda.sericulture">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".seedproducer"
            android:label="Seed Producer" />
        <activity
            android:name=".silkrearer"
            android:label="Silk Rearer" />
        <activity
            android:name=".analyst"
            android:label="Analyst" />
        <activity
            android:name=".officer"
            android:label="Officer" />
        <activity
            android:name=".SP_form_activity"
            android:label="Seed Producer Form" />
        <activity
            android:name=".A_form_activity"
            android:label="Analyst Form" />
        <activity
            android:name=".O_form_activity"
            android:label="Officer Form" />
        <activity
            android:name=".SR_form_activity"
            android:label="Silk Rearer Form" />
        <activity android:name=".submit_form"></activity>
    </application>

</manifest>